[Unit]
Description=greetd Workaround Script
Before=greetd.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/share/hyperbola/scripts/greetd-workaround.sh
ExecStartPost=/usr/bin/systemctl disable --now %n

[Install]
WantedBy=graphical.target
